@import "../../styles.scss";
.s-header {
	background-color: #fc8019;
	color: #ffffff;
	padding: 5px 8px;
}
.page-restaurant {
	.category {
	    height: 32px;
	    width: 100%;
	    margin-bottom: 5px;
	    border: 1px solid;
	}
}